.container {
	margin-top: 130px;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	padding: 0 5%;
	height: 100px;
	background-color: #075607;
}

nav .links {
display: inline-block;	
padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
nav .links a:hover{
	background-color: white;
	border-radius: 2px;
	color: black;
	padding-top: 4px;
	padding-bottom: 4px;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
.fa-sharp{
  display: none;
	position: absolute;
text-align: left;
	top: 35%;
  color: white;
}
.page-title{
  display: inline-block;
	margin-top: 35px;
  color: white;
  margin-left: 68px;
  font-size: 20px;
}

@media (max-width: 860px) {
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}

	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}	
}

@media (min-width: 861px) and (max-width: 1800px){
  nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 70%;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}

	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}	

}



.container{
  margin-bottom: 70px;

}

.card{
  margin-top: 50px;
	text-align: center;
}
.superimg{
  max-width: 85px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.card-header{
text-align: center;
}

.card-body{
	background-color: #075607;
}
.button{
 background-color: #075607;
 border-style: none;
 color: white;
 font-size: 16px;
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
 cursor: pointer;
}  


@media (max-width: 430px){
  .card{
		margin-left: 50px;
		margin-right: 50px;
			}
			.superimg{
				max-width: 50px;
			}
}


@media (min-width: 431px) and (max-width: 575px){
  .superimg{
    max-width: 50px;
  }
  .card{
margin-left: 90px;
margin-right: 90px;
	}
}

@media (min-width: 576px) and (max-width: 767px){
  .superimg{
    max-width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

  }
  .button {
    font-size: 10px;
  }

}

@media (min-width: 767px) and (max-width: 991px){
	
	.button {
    font-size: 14px;
  }
}




